body{
  margin:50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;

}

header{
  background-image: url("..//images/australia1.jpg");
  background-color:#9acd32;
  padding: 30px;
  height:220px;
}
nav a:link{
  background-color: #f5f5f5;
  opacity: 0.7;
  color:#0000ff;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 100px;
  display: inline-block;
  width:160px;
  height:40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  transition: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease;


}
nav a:hover{
  background-color: #14b1ab;
}


nav>a.active{
  background-color:#f5f5dc ;
  opacity: 1;


}

h1
{
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
h2{
  margin-left: 25px;
}
h3{
  margin-left: 45px;
}

img{
  height: 170px;
  width: 200px;
  border: 2px solid black;
  margin: 20px;
  display:inline-block;
  margin-left: 30px;
}
aside{
  display:inline-block;
  width:265px;
  height:1020px;
  background-color: #cbeaed;
}
section{
  background-color:#ffffdd;
  float: right;
  width:1050px;
  display:inline-block;
}
p{
  margin-left: 8px;
}
